{% extends "catalog/base_generic.html" %}

{% block content %}
<div class="detail-card">
  <h1>Title:📚 {{ book.title }}</h1>

  <p><strong>Author:</strong>
    <a href="{{ book.author.get_absolute_url }}">
      {{ book.author }}
    </a>
  </p>
  <p><strong>Summary:</strong> {{ book.summary }}</p>
  <p><strong>ISBN:</strong> {{ book.isbn }}</p>

  <a href="{% url 'add-review' book.pk %}">Add review</a>

  <br><br>

<a href="{% url 'reserve-book' book.pk %}">
  Reserve Book
</a>

</div>

{% if book.reviews.all %}
<ul>
  {% for review in book.reviews.all %}
    <li>
  <strong class="review-stars">
    {% if review.rating == 5 %}
      ★★★★★
    {% elif review.rating == 4 %}
      ★★★★☆
    {% elif review.rating == 3 %}
      ★★★☆☆
    {% elif review.rating == 2 %}
      ★★☆☆☆
    {% elif review.rating == 1 %}
      ★☆☆☆☆
    {% endif %}
  </strong>

  <br>

  {{ review.comment }}
</li>
  {% endfor %}
</ul>
{% else %}
  <p>No reviews yet.</p>
{% endif %}

{% endblock %}