{% extends "catalog/base_generic.html" %}

{% block content %}
  <h1>My Reservations</h1>
{% if reservations %}
  {% for reservation in reservations %}

    <div class="reservation-card">

      <h3>📚 {{ reservation.book.title }}</h3>

      <p>
        <strong>貸出希望日:</strong>
        {{ reservation.reserved_date }}
      </p>

      <p>
        <strong>予約日時:</strong>
        {{ reservation.created_at }}
      </p>

      <a href="{%url 'cancel-reservation' reservation.pk %}">Cancel Reservation</a>

    </div>

  {% endfor %}

{% else %}
  <p>No reservations.</p>
{% endif %}
{% endblock %}